<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        
        <!-- div contenitore pagina -->
        <div class="container">
            
            <!-- div contenitore immagini -->
            <div class="locandina">

                <img v-for="(img, index) in movies" :src="img.image" alt="" class="inactive" :class="activeImage === index ? 'active' : ''">

                <!-- div contenitore titolo + sinossi -->
                <div class="info" v-for="(img, index) in movies">
                
                    <h3 class="inactive" :class="activeImage === index ? 'active' : ''">{{img.title}}</h3>
                
                    <span class="inactive" :class="activeImage === index ? 'active' : ''">{{img.text}}</span>
                
                </div>
            </div>
            
            
            <!-- div contenitore thumbnail laterali -->
            <div class="thumbnail">
                <!-- blocco immagini thumbnail -->
                <div v-for="(img, index) in movies">
                    <img :src="img.image" class="" :class="activeImage === index ? 'thumb-active' : 'thumb-inactive'" @click="activeImage = index">
                </div>
                
            
            </div>

            <!-- div contenitore frecce -->
            <div class="frecce">

                <div class="right-arrow" @click="nextImage">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>

                <div class="left-arrow" @click="prevImage">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
            </div>
        </div>



    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>